<ion-header>
  <ion-toolbar>
    <ion-title>
      Devices list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--ion-button color="warning" (click)='stop()'>Stop Scan</ion-button -->
  <ion-item>
      <ion-label>Scan</ion-label>
      <ion-toggle (click)="startScan()" color="secondary" [(ngModel)]="ble.isScanning"></ion-toggle>
  </ion-item>
  <!--h6>TOTAL DEVICES FOUND: {{devices.length}}</h6-->
  <!-- 1) list of devices bonded-->  
  <ion-item-group>

  </ion-item-group>
  <!-- 2) list of devices discovered-->
  <ion-item-group>

      <ion-card (click)='connect(d)' *ngFor="let d of devices">
          <ion-card-header>
            <ion-card-subtitle>Bluetooth device detected</ion-card-subtitle>
            <ion-card-title>{{d.address}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <h3>{{d.advertisement}}</h3>
              <h3>{{d.rssi}}</h3>
          </ion-card-content>
        </ion-card>

  </ion-item-group>
  
  
</ion-content>
